mixin form(data)
	// start form
	+b.SECTION.form.section#form&attributes(attributes)
		.content
			+img('img/svg/arrow.svg').arrow
			h2 Остались вопросы?
			form
				+e.INPUT.input(name='text' type='text' placeholder='Имя')
				+e.INPUT.input(name='phone' type='tel' placeholder='+7 (999) 999-99-99')
				+e.TEXTAREA.input(name='textarea' type='textarea' placeholder='Ваш вопрос')
				+policy
				button(type="submit") Отправить
			+img('img/form-img-1.png').img
				
	// end form