mixin categories(data)
	// start categories
	section.categories.content
		.block-top.spacer
			h2
				| Выбирай трек
			p.block-desc
				| Выбери свое направление деятельности и двигайся вперед
		div(class="categories__list spacer_top")
			.category.violet
				a(href="/tracks/career/")
					div(class="category__text")
						h3
							| Росмолодёжь.Карьера
						p(class="category__desc")
							| Трек Росмолодёжь.Карьера помогает молодым людям определиться со&amp;nbsp;специализацией, получить необходимые навыки и компетенции и найти работу.
					img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/categories/logo-3.svg", alt="Лого", class="category__logo")
			.category.blue
				a(href="/tracks/tech/")
					div(class="category__text")
						h3
							| Росмолодёжь.Технологии
						p(class="category__desc")
							| Трек направлен на реализацию интеллектуального потенциала молодых людей и развитие технологической среды в&amp;nbsp;России
					img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/categories/logo-2.svg", alt="Лого", class="category__logo")
			.category.orange
				a(href="/tracks/business/")
					div(class="category__text")
						h3
							| Росмолодёжь.Бизнес
						p(class="category__desc")
						p Проекты трека Росмолодёжь.Бизнес помогают молодым людям реализовать собственный потенциал в&amp;nbsp;предпринимательстве — определиться с&amp;nbsp;нишей, получить знания, навыки, компетенции, необходимые для ведения и&amp;nbsp;развития собственного дела
						p
					img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/categories/logo-1.svg", alt="Лого", class="category__logo")
	// end categories