mixin newsBlock(count=4, title='Прошедшие мероприятия')
	// start newsBlock
	+b.SECTION.newsBlock.section#newsBlock&attributes(attributes)
		.content
			h2!= title
			+e.wrap
				-for(let i = 0; i < count; i++)
					+newsCard('img/news-card-1.png', 'Форум сообществ молодых специалистов «Форсаж»', 'https://forsageforum.ru/')
						p За время своей работы с 2011 года «Форсаж» стал уникальной площадкой федерального уровня, где молодые профессионалы получают новые знания, защищают собственные проекты и налаживают коммуникации друг с другом.
						p Сообщество «Форсажа» – это перспективный кадровый резерв ключевых отраслей экономики, сообщество лидеров, которые будут формировать видение и стратегию ключевых игроков рынка.
	// end newsBlock