mixin main(data)
	// start main
	section.main.content
		div(class="main__left va-middle")
			div(class="main__middle")
				h1
					| Центр
					| содействия
					| молодым
					| специалистам
				p
					| Вовлекаем молодёжь в профессиональную,
					| предпринимательскую и инновационную деятельность
				a(href="/about/", class="blue-btn main__link")
					svg.svg-icon.icon-mail
						use(xlink:href="/static/assets/img/sprite.svg#icon-mail")
					span Узнать больше
		i(class="main__bg")
	// end main