extends ../layout/main.pug

include ../customBlocks/page/_page.pug
include ../customBlocks/docs/_docs.pug
include ../customBlocks/newsBlock/_newsBlock.pug
include ../customBlocks/form/_form.pug
include ../customBlocks/partners/_partners.pug
include ../customBlocks/contacts/_contacts.pug
include ../customBlocks/partners/_partners.pug

include ../customBlocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Карьера'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+page('Профориентационные мероприятия ', 'Переговорка</br>И Маршрут карьеры', '', 'img/header-block-3.png')
			+b.organization
				.content
					+e.wrapper--full-size
						div
							h2 О проекте
							div(class="organization__wrap spacer_top")
								div(class="organization__about")
									p Открывают карьерные возможности в России для молодёжи во всех федеральных округах, включая новые территории.
									p В 2022 году был проведён один карьерный форум в одном федеральном округе, в 2023 – 6 карьерных форумов в 6 федеральных округах, включая новые территории, в 2024 году будет проведено 8 карьерных форумов во всех федеральных округах, включая новые территории.
		+newsBlock(3)
		+docs('Документы', 3)
		+partners('Партнёры проекта')
		+form()
		+contacts
	+footer()