extends ../layout/main.pug

include ../customBlocks/page/_page.pug
include ../customBlocks/docs/_docs.pug
include ../customBlocks/newsBlock/_newsBlock.pug
include ../customBlocks/form/_form.pug
include ../customBlocks/partners/_partners.pug
include ../customBlocks/contacts/_contacts.pug
include ../customBlocks/partners/_partners.pug
include ../customBlocks/personExpectation/_personExpectation.pug
include ../customBlocks/joinFirm/_joinFirm.pug

include ../customBlocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Карьера'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+page('Профориентационные мероприятия ', 'Переговорка</br>И Маршрут карьеры', '', 'img/header-block-3.png')
			+b.organization
				.content
					+e.wrapper--wider.--full-size
						div
							h2 О проекте
							div(class="organization__wrap spacer_top")
								div(class="organization__about")
									p Знакомство молодых людей в&nbsp;возрасте от&nbsp;14&nbsp;до&nbsp;35&nbsp;лет с&nbsp;перспективами профессиональной самореализации на&nbsp;территории Российской Федерации
		+personExpectation
		+joinFirm
		+newsBlock(3)
		+docs('Документы', 3)
		+partners('Партнёры проекта')
		+form()
		+contacts
	+footer()