extends ../layout/main.pug

include ../customBlocks/main/_main.pug
include ../customBlocks/who/_who.pug
include ../customBlocks/categories/_categories.pug
include ../customBlocks/project/_project.pug
include ../customBlocks/events/_events.pug
include ../customBlocks/partners/_partners.pug
include ../customBlocks/gallerySlider/_gallerySlider.pug
include ../customBlocks/footer/_footer.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+main()
		+who()
		+categories()
		+project()
		+events()
		+gallerySlider
		+partners()
	+footer()
