mixin project(data)
	// start project
	section.project
		.content
			div(class="project__wrap" style="--bg: linear-gradient(0deg, rgba(26, 103, 252, 0.35), rgba(26, 103, 252, 0.35))")
				//- img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/project/decor.png", alt="Лого", class="project__decor")
				div(class="project__text")
					.wrap
						h4 Проект Точки притяжения
						p
							| Конкурс на формирование группы
							| пространств, которые являются местом
							| притяжения, общения и генерации идей
							| российской молодёжи. На этих площадках
							| встречаются эксперты и молодёжь из
							| регионов, проводятся форумы, мастер-
							| классы, семинары и встречи.
					.project__l
						a(href="https://xn----jtbcgbci3acnlsh7d5ge.xn--p1ai/", target="_blank", class="white-transparent-btn") Узнать больше
						a(href="#", target="_blank", class="white-btn") Регистрация
				img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/project/bg.jpg", alt="Фон", class="project__bg photo-full-size")
				img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/project/logo.svg", alt="Лого", class="project__logo")
			div(class="project__wrap" style="--bg: rgba(108, 54, 254, 0.43)")
				//- img(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/project/decor.png", alt="Лого", class="project__decor")
				div(class="project__text")
					.wrap
						h4 Проект Молодёжные советы
						p Молодёжные советы компаний - это сообщества молодых сотрудников, созданные для поддержки социально трудовой адаптации и интеграции молодёжи в корпоративные и производственные процессы. 
					.project__l
						a(href="https://xn----jtbcgbci3acnlsh7d5ge.xn--p1ai/", target="_blank", class="white-transparent-btn") Узнать больше
						a(href="#", target="_blank", class="white-btn") Регистрация
				img(src="img/project-bg-2.png", alt="Фон", class="project__bg photo-full-size")
				img(src="img/svg/project-logo-3.svg", alt="Лого", class="project__logo")

	// end project
