mixin partners(title='Партнёры')
	// start partners
	section.partners.content
		.block-top.spacer
			h2!= title
		div(class="partners__list flex-container")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai//static/assets/img/partners/asi.svg", alt="Агенство Стратегических Инициатив")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/delros.svg", alt="Деловая Россия")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/minec.svg", alt="Мин эконом Развития")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/minpros.svg", alt="Министерство Просвящения")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/mpt.svg", alt="Минпромторг")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/opros.svg", alt="Опора России")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/web.svg", alt="ВЭБ РФ")
			.partner
				img.pos-center(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/static/assets/img/partners/sber.svg", alt="Сбер")
	// end partners