mixin events(data)
	// start events
	section.events.content
		.block-top.spacer
			h2
				| Проекты и события
			p.block-desc
				| Проекты, в которых стоит принять участие
		div(class="events__list flex-container")
			.event
				a(href="/events/startteh/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318462_1.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318463.png", alt="Лого")
					a(href="/events/startteh/", class="event__title")
						| СтартТех
				ul(class="event__data")
					li 13.10-18.10
					li
			.event
				a(href="/events/biznes-ne-spit-razboryi-360/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318457.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318458.png", alt="Лого")
					a(href="/events/biznes-ne-spit-razboryi-360/", class="event__title")
						| «Бизнес не спит. Разборы 360»
				ul(class="event__data")
					li 24.09-12.11
					li Россия
			.event
				a(href="/events/biznespokolenie/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318449.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318450_1.png", alt="Лого")
					a(href="/events/biznespokolenie/", class="event__title")
						| Бизнес.Поколение
				ul(class="event__data")
					li 02.09-30.10
					li Россия
			.event
				a(href="/events/biznes-missii-v-zarubezhnyie-stranyi/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318459.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318460.png", alt="Лого")
					a(href="/events/biznes-missii-v-zarubezhnyie-stranyi/", class="event__title")
						| Бизнес-миссии в зарубежные страны
				ul(class="event__data")
					li 26.08-26.11
					li
			.event
				a(href="/events/biznesnastavniki/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318454.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318455.png", alt="Лого")
					a(href="/events/biznesnastavniki/", class="event__title")
						| Бизнес.Наставники
				ul(class="event__data")
					li 05.08-01.12
					li Россия
			.event
				a(href="/events/den-s-predprinimatelem-2/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318451.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318452.png", alt="Лого")
					a(href="/events/den-s-predprinimatelem-2/", class="event__title")
						| День с предпринимателем
				ul(class="event__data")
					li 19.07-15.11
					li Россия
			.event
				a(href="/events/market-molodyih/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318447.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318448.png", alt="Лого")
					a(href="/events/market-molodyih/", class="event__title")
						| Маркет Молодых
				ul(class="event__data")
					li 01.05-31.12
					li Россия
			.event
				a(href="/events/klub-molodyih-predprinimatelej-3/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2024/8/26/Frame_1321318446_1.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2024/8/26/Frame_1321318445.png", alt="Лого")
					a(href="/events/klub-molodyih-predprinimatelej-3/", class="event__title")
						| Клуб молодых предпринимателей
				ul(class="event__data")
					li 01.01-31.12
					li Россия
			.event
				a(href="/events/konkurs-bitva-nastavnikov/", class="event__photo")
					img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/event_pics/2023/7/14/Frame_329.jpg", alt='')
				div(class="event__about va-middle")
					span(class="event__logo")
						img.photo-full-size(src="https://xn--80aamcxjgqbob0e0df.xn--p1ai/media/events/2023/7/14/Frame_596_1.png", alt="Лого")
					a(href="/events/konkurs-bitva-nastavnikov/", class="event__title")
						| Проект «Бизнес.Наставники»
				ul(class="event__data")
					li 02.10-11.11
					li Россия
		div(class="events__bottom")
			a(href="/events/", class="blue-transparent-btn events__else") Показать еще
	// end events